<div id="footer" class="md:relative h-fit md:h-[40vh] bg-red-600 font-bold text-center text-black flex justify-center items-center">
    <div class="w-full grid grid-cols-1 mt-10 md:mt-0 md:grid-cols-5 gap-5 md:gap-0 items-center md:mx-16">
        <div class="flex justify-center md:justify-start">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/home#workoutPlans">Programs</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <a class="text-8xl order-first md:order-none md:text-10xl goldman md:col-span-3 " href="/home">Arjun</a>
        <div class="flex justify-center md:justify-end">
            <ul class="w-min">
                <li><a class="border-b-2 border-black font-bold text-xl" href="/home#workoutPlans">Programs</span></li>
                <li><a class="m-2" href="/fatloss">Fat Loss</a></li>
                <li><a class="m-2" href="/bulking">Bulking</a></li>
                <li><a class="" href="/bodyRecomp">Body Recomposition</a></li>
            </ul>
        </div>
        <h1 class="md:left-0 md:right-0 md:absolute md:bottom-2 mb-2 md:mb-0 text-xs">© 2035 by Arjun Kumar. Powered and secured by Dharani I S</h1>   
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
<script>
tailwind.config = {
    theme: {
        extend: {
        animation: {
            'infinite-scroll': 'infinite-scroll 25s linear infinite',
        },
        keyframes: {
            'infinite-scroll': {
            from: { transform: 'translateX(0)' },
            to: { transform: 'translateX(-100%)' },
            }
        },
        fontSize: {
            '10xl': '10rem',
        }                    
        },
    },
    }

function myFunction() {
  document.getElementById("dropdown").classList.toggle("hidden");
}

function myFunction2() {
  document.getElementById("navList").classList.toggle("hidden");
  document.getElementById("navbar").classList.toggle("bg-red-600");
}

window.onclick = function(e) {
  if (!e.target.matches('#menu-button')) {
  var myDropdown = document.getElementById("dropdown");
    if (!myDropdown.classList.contains('hidden')) {
      myDropdown.classList.toggle('hidden');
    }
  }
}
</script>
<script src="" async defer></script>
</body>
</html>