<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arjun</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <nav id="navbar" class="bg-[rgba(0,0,0,0.2)] goldman flex flex-wrap py-3 sticky top-0 z-10">
            <div class=" justify-start basis-1/2 shrink">
                <a href="/home" class="text-2xl font-bold goldman px-7 hover:text-red-600">Arjun</a>
            </div>
            <div class="md:hidden flex items-center justify-end basis-1/2">
              <button onclick="myFunction2()" data-collapse-toggle="navList" type="button" class="mr-10" >
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
              </button>
            </div>
            <div id="navList" class="hidden md:block w-full md:basis-1/2">
              <ul class="m-2 text-xl flex flex-col gap-2 justify-end items-center  md:m-0 md:flex-row md:text-sm">           
                  <li><a href="/" class="mx-3 md:hover:text-red-600">Home</a></li>
                  <li><a href="/about" class="mx-3 md:hover:text-red-600">About</a></li>
                  <li><div class="md:relative md:inline-block text-left">
                      <div>
                        <button onclick="myFunction()" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 shadow-sm md:hover:bg-red-600" id="menu-button" aria-expanded="true" aria-haspopup="true">
                          Programs
                          <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                          </svg>
                        </button>
                      </div>
                      <div id="dropdown" class="hidden text-center md:text-left  opacity-1 md:text-white md:bg-red-600/[0.9] md:absolute left-0 z-10 mt-2 pr-7 md:w-min origin-top-right md:rounded-md md:shadow-lg md:ring-1 md:ring-black/5 focus:outline-none">
                          <ul class="py-1">
                            <li><a href="/fatloss" class="block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Fat Loss</a></li>
                            <li><a href="/bulking" class="block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Bulking</a></li>
                            <li><a href="/bodyRecomp" class="block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Body Recomposition</a></li>
                          </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="/blog" class="mx-3 md:hover:text-red-600">Blog</a></li>
                  <li><a href="/contact" class="mx-3 md:hover:text-red-600">Contact</a></li>
                </ul>
              </div>

          </nav>