<%- include("partials/header.ejs") %>
<div id="blog" class="p-5 text-center bg-white text-black">
    <div id="blogTitle" class="h-fit goldman ">
        <h1 class="text-8xl text-red-600">Blog</h1>
        <h1 class="text-4xl mt-16">All Posts</h1>
    </div>
    <div id="blogPostsContainer" class="h-fit mb-16 mt-7 flex justify-center">
        <a href="/blogpost?id=1"><div class="h-fit gap-10 grid grid-cols-1 md:grid-cols-3 ">
            <div class="w-96 border-2 border-black">
                <img class="object-cover h-[255px]" src="morning.JPG">
                <div class="m-5">
                    <p class="text-left text-xs m-2">Admin • Mar 22, 2024 • 2 min read</p>
                    <h1 class="text-xl font-bold">Morning Workouts: Kickstart Your Day with Energy and Focus</h1>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
                </div>
            </div></a>
            <a href="/blogpost?id=2"><div class="w-96 border-2 border-black">
                <img class="object-cover h-[255px]" src="nutrition.JPG">
                <div class="m-5">
                    <p class="text-left text-xs m-2">Admin • Sep 16, 2023 • 5 min read</p>
                    <h1 class="text-xl font-bold">Nutrition Made Simple: Fuel Your Fitness Journey</h1>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
                </div>
            </div></a>
            <a href="/blogpost?id=3"><div class="w-96 border-2 border-black">
                <img class="object-cover h-[255px]" src="desk.JPG">
                <div class="m-5">
                    <p class="text-left text-xs m-2">Admin • Nov 06, 2023 • 10 min read</p>
                    <h1 class="text-xl font-bold">Desk Workouts: Stay Active Even at Your Job</h1>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
                </div>
            </div></a>
            <a href="/blogpost?id=4"><div class="w-96 border-2 border-black">
                <img class="object-cover h-[255px]" src="scale.JPG">
                <div class="m-5">
                    <p class="text-left text-xs m-2">Admin • Feb 14, 2016 • 5 min read</p>
                    <h1 class="text-xl font-bold">Breaking Through Plateaus: Tips to Keep Progressing</h1>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
                </div>
            </div></a>
            <a href="/blogpost?id=5"><div class="w-96 border-2 border-black">
                <img class="object-cover h-[255px]" src="mind.JPG">
                <div class="m-5">
                    <p class="text-left text-xs m-2">Admin • Jan 21, 2024 • 10 min read</p>
                    <h1 class="text-xl font-bold">The Mind-Body Connection: Fitness for Mental Health</h1>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
                </div>
            </div></a>
            <a href="/blogpost?id=6"><div class="w-96 border-2 border-black">
                <img class="object-cover h-[255px]" src="homegym.JPG">
                <div class="m-5">
                    <p class="text-left text-xs m-2">Admin • Feb 14, 2016 • 2 min read</p>
                    <h1 class="text-xl font-bold">Home Gym Essentials: Build Your Fitness Space on a Budget</h1>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
                </div>
            </div></a>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>