<%- include("partials/header.ejs") %>

<div class="h-fit mx-7 text-center flex flex-col items-center mb-16">
    <h1 class="m-5 goldman text-6xl md:text-7xl text-red-600">Have a question?<br>Shoot us an email</h1>
    <p class="text-[10px] md:text-base">We are an industry-leading publication that provides the latest news and insights about SEO, search, and how it impacts your business-and career.<br>Have a question for us or feedback? Please click on the most appropriate category and fill out the form to reach us.</p>
    <form class="w-full md:w-[35rem] space-y-4 mt-16">
        <input type='text' placeholder='Name'
                class="w-full rounded-md py-3 px-4 bg-gray-100 text-gray-800 text-sm outline-blue-500 focus:bg-transparent focus:text-white" />
        <input type='email' placeholder='Email'
                class="w-full rounded-md py-3 px-4 bg-gray-100 text-gray-800 text-sm outline-blue-500 focus:bg-transparent focus:text-white" />
        <input type='text' placeholder='Subject'
                class="w-full rounded-md py-3 px-4 bg-gray-100 text-gray-800 text-sm outline-blue-500 focus:bg-transparent focus:text-white" />
        <textarea placeholder='Message' rows="6"
                class="w-full rounded-md px-4 bg-gray-100 text-gray-800 text-sm pt-3 outline-blue-500 focus:bg-transparent focus:text-white"></textarea>
        <button type='button'
                class="text-white bg-red-600 hover:bg-red-700 tracking-wide rounded-md text-sm px-4 py-3 w-full !mt-6">Send</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>