<%- include("partials/header.ejs") %>

<div id="heroFatloss" class="h-full gap-8 mx-4 mb-10 md:gap-0 md:mt-16 md:mb-10 md:h-fit flex flex-col items-center justify-center text-center">
    <h1 class="text-white md:w-[80rem] md:mt-16 goldman text-4xl md:text-[55px]">Loose your belly fat & gain confidence<br>in just</h1><h1 class="text-red-600 md:w-[80rem] goldman text-8xl md:text-[145px]">120 days</h1>
    <p class="text-sm md:mt-2 md:mb-12 md:text-lg">The Step-by-Step 120 days transformation program that will guide you to<br>lose fat through home workouts or gym workouts combined with 300+ diet plans</p>
    <button type="button" class="md:w-[50rem] text-sm md:text-xl border-2 px-3 py-2 md:px-5 md:py-2 mt-0 m-5 border-red-600 goldman hover:bg-red-600 hover:text-white">CLICK HERE TO JOIN</button>
</div>
<div id="iframe" class="flex items-center justify-center">
    <iframe class="md:m-5 w-[448px] h-[252px] md:w-[672px] md:h-[378px]" width="672" height="378" src="https://www.youtube.com/embed/LTM-tSGGhI4?si=rAoK7icjS4sdKffj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div id="testimonials" class="h-fit">
    <h1 class="goldman text-6xl m-5 mx-16 text-red-600 text-center">Success Stories</h1>
    <div class="grid mb-8 mt-16 rounded-lg shadow-sm  md:mb-12 md:grid-cols-2 ">
        <figure class="flex flex-col items-center justify-center p-8 text-center   rounded-t-lg md:rounded-t-none md:rounded-ss-lg ">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">"The best coach I’ve worked with!"</h3>
                <p class="my-4">“Arjun's personalized programs made all the difference in my fitness journey. His workouts are challenging yet enjoyable, and I could see real progress within weeks. Highly recommend!”</p>
            </blockquote>
            <figcaption class="flex items-center justify-center ">
                <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                    <div>Ritika K.</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400 ">Developer at Open AI</div>
                </div>
            </figcaption>    
        </figure>
        <figure class="flex flex-col items-center justify-center p-8 text-center   rounded-t-lg md:rounded-t-none md:rounded-ss-lg ">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">"Always motivating and supportive."</h3>
                <p class="my-4">“Arjun not only provides effective workout plans but also keeps me motivated throughout. His constant check-ins and encouragement helped me stay on track even on tough days.”</p>
            </blockquote>
            <figcaption class="flex items-center justify-center ">
                <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                    <div>Pooja M.</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Lead designer at Dropbox</div>
                </div>
            </figcaption>    
        </figure>
        <figure class="flex flex-col items-center justify-center p-8 text-center   rounded-t-lg md:rounded-t-none md:rounded-ss-lg  ">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">"Incredible results in just 3 months!"</h3>
                <p class="my-4">“Arjun’s program completely changed my lifestyle. I lost 10kg and gained strength and confidence. He makes fitness feel easy to fit into a busy schedule.”</p>
            </blockquote>
            <figcaption class="flex items-center justify-center ">
                <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                    <div>Rahul S.</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Software Engineer at Facebook</div>
                </div>
            </figcaption>    
        </figure>
        <figure class="flex flex-col items-center justify-center p-8 text-center   rounded-t-lg md:rounded-t-none md:rounded-ss-lg  ">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg text-center font-semibold text-gray-900 dark:text-white">"Perfect balance of fitness and nutrition."</h3>
                <p class="my-4">“Arjun goes beyond workouts by offering insightful nutrition tips that complement his training perfectly. His holistic approach is exactly what I needed.”</p>
            </blockquote>
            <figcaption class="flex items-center justify-center ">
                <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                    <div>Karan T.</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">CTO at Google</div>
                </div>
            </figcaption>    
        </figure>
    </div>
</div>

<div id="pricingPlans" class="bg-black">
    <div class="mx-auto w-fit py-16 px-6">
        <div class="mx-5 md:mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h1 class="goldman text-5xl md:text-6xl text-red-600">Choose a plan thats right for you</h1>
            <p class="mt-2 md:mt-0 mb-5 font-light text-sm md:text-xl text-gray-400">These carefully designed pricing plans offer the perfect blend of flexibility, support, and personalization to cater to a wide range of fitness goals.</p>
        </div>
        <div class=" mx-7 md:mx-16 grid lg:grid-cols-1 xl:grid-cols-3 gap-10 ">
            
            <div class="flex flex-col mx-auto max-w-lg text-center text-gray-900 rounded-lg border shadow border-gray-600 p-8 bg-gray-950 text-white">
                <h3 class="mb-4 text-3xl  text-red-600 goldman">Basic Plan</h3>
                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Students looking for budget-friendly, self-paced learning without direct trainer interaction.</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$29</span>
                    <span class="goldman text-red-600 text-gray-500">/month</span>
                </div>
                 
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Access to recorded workout sessions (3 per week)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Monthly fitness challenges</span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Access to a community forum for general Q&A and support</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Monthly fitness newsletter with tips and motivation</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Basic tracking tools (e.g., workout logs, online library and goal setting support)</span></span>
                    </li>
                </ul>
                <a href="#" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-slate-800 hover:bg-slate-700 focus:ring-slate-800">Get started</a>
            </div>
            
            <div class="flex flex-col mx-auto max-w-lg text-center text-gray-900 rounded-lg border shadow border-gray-600 p-8 bg-gray-950 text-white">
                <h3 class="mb-4 text-3xl  text-red-600 goldman">Standard Plan</h3>
                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Clients who want more structure and live sessions for motivation and accountability more specific results.</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$49</span>
                    <span class="goldman text-red-600 text-gray-500">/month</span>
                </div>
                 
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>All benefits of the Basic Plan</span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Access to live group workout sessions (5 per week)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Weekly progress tracking with feedback via email</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Nutrition tips and a monthly meal plan</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Access to an exclusive online library of beginner to intermediate workout routines</span></span>
                    </li>
                </ul>
                <a href="#" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-slate-800 hover:bg-slate-700 focus:ring-slate-800">Get started</a>
            </div>
            
            <div class="flex flex-col mx-auto max-w-lg text-center text-gray-900 rounded-lg border shadow border-gray-600 p-8 bg-gray-950 text-white">
                <h3 class="mb-4 text-3xl  text-red-600 goldman">Premium Plan</h3>
                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Clients seeking personalized guidance and direct trainer interaction for quicker without direct trainer interaction..</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">$119</span>
                    <span class="goldman text-red-600 text-gray-500 ">/month</span>
                </div>
                 
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>All benefits of the Standard Plan</span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Personalized fitness plan tailored to individual goals</span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>1-on-1 virtual training sessions (2 per month)</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Exclusive Q&A sessions with the trainer</span></span>
                    </li>
                    <li class="flex items-center space-x-3">
                         
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Priority support via direct messaging. Personalized video feedback workout routines.</span></span>
                    </li>
                </ul>
                <a href="#" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-slate-800 hover:bg-slate-700 focus:ring-slate-800">Get started</a>
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs") %>